In [8]:
import sqlite3
from sqlalchemy import create_engine
from sqlalchemy.pool import StaticPool
from langchain_community.utilities.sql_database import SQLDatabase

In [2]:
database_path = "my_database.db"

In [3]:
connection = sqlite3.connect(database_path, check_same_thread=False)

In [4]:
schema = """
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    department TEXT,
    salary REAL
);
CREATE TABLE IF NOT EXISTS departments (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL
);
"""

In [5]:
connection.executescript(schema)

In [6]:
engine = create_engine(
    f"sqlite:///{database_path}",
    poolclass=StaticPool,
    connect_args={"check_same_thread": False}
)

In [9]:
db = SQLDatabase(engine)

In [10]:
cursor = connection.cursor()

In [11]:
employee_records = [
    ("Alice", "Engineering", 75000),
    ("Bob", "Sales", 60000),
    ("Charlie", "Engineering", 80000),
    ("Daisy", "Sales", 62000),
    ("Ethan", "Marketing", 55000),
    ("Fiona", "Engineering", 85000),
    ("George", "Marketing", 58000),
    ("Hannah", "HR", 52000),
    ("Ivy", "Finance", 90000),
    ("Jack", "Finance", 91000),
    ("Katie", "HR", 53000),
    ("Liam", "Sales", 70000),
    ("Mia", "Engineering", 92000),
    ("Noah", "Sales", 64000),
    ("Olivia", "IT", 95000),
    ("Parker", "IT", 97000),
    ("Quinn", "Marketing", 61000),
    ("Ruby", "HR", 54000),
    ("Sam", "Finance", 89000),
    ("Tina", "Sales", 71000),
    ("Uma", "Engineering", 86000),
    ("Vince", "Finance", 94000),
    ("Wendy", "IT", 98000),
    ("Xander", "Marketing", 60000),
    ("Yara", "Sales", 69000),
    ("Zane", "HR", 56000)
]

In [12]:
department_records = [
    ("Engineering",),
    ("Sales",),
    ("Marketing",),
    ("HR",),
    ("Finance",),
    ("IT",),
    ("Legal",),
    ("Operations",),
    ("Customer Service",)
]

In [13]:
cursor.executemany("INSERT INTO employees (name, department, salary) VALUES (?, ?, ?)", employee_records)
cursor.executemany("INSERT INTO departments (name) VALUES (?)", department_records)

In [14]:
connection.commit()

In [15]:
from langchain_openai import ChatOpenAI
from dotenv import load_dotenv
import os

In [16]:
load_dotenv()

True

In [17]:
my_openai_key = os.getenv("my_openai_key")

In [18]:
llm = ChatOpenAI(model="gpt-4o-mini", api_key=my_openai_key)

In [19]:
from langchain_community.agent_toolkits.sql.toolkit import SQLDatabaseToolkit

In [20]:
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [21]:
toolkit.get_tools()

[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000133D78F6290>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000133D78F6290>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000133D78F6290>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000133D78F6290>, llm=ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x00000133D8C07590>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x00000133D831A490>, root_client=<openai.OpenAI object at 0x00000133D8594250>, root_async_client=<openai.AsyncOpenAI object at 0x00000133D8E63050>, model_name='gpt-4o-mini', model_kwargs={}, openai_api_key=SecretStr('**********')), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x00000133D8C07590>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x00000133D831A490>, root_client=<openai.OpenAI object at 0x00000133D8594250>, root_async_client=<openai.AsyncOpenAI object at 0x00000133D8E63050>, model_name='gpt-4o-mini', model_kwargs={}, openai_api_key=SecretStr('**********')), output_parser=StrOutputParser(), llm_kwargs={}))]

In [22]:
from langchain import hub

prompt_template = hub.pull("langchain-ai/sql-agent-system-prompt")

assert len(prompt_template.messages) == 1
print(prompt_template.input_variables)

C:\Users\Lenovo\anaconda3\Lib\site-packages\langsmith\client.py:354: LangSmithMissingAPIKeyWarning: API key must be provided when using hosted LangSmith API
  warnings.warn(

['dialect', 'top_k']

In [23]:
system_message = prompt_template.format(dialect="SQLite", top_k=5)

In [24]:
from langgraph.prebuilt import create_react_agent

agent_executor = create_react_agent(
    llm, toolkit.get_tools(), state_modifier=system_message
)

In [25]:
example_query = "Which department has the highest average salary?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

Which department has the highest average salary?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_Vifdxlvwc7zLz5q5KCyaMX19)
 Call ID: call_Vifdxlvwc7zLz5q5KCyaMX19
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

departments, employees
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_FuY7UUbNk6CBhrmTLnzu022k)
 Call ID: call_FuY7UUbNk6CBhrmTLnzu022k
  Args:
    table_names: departments
  sql_db_schema (call_9n2qXSoNykzxPKhHNluaBCZL)
 Call ID: call_9n2qXSoNykzxPKhHNluaBCZL
  Args:
    table_names: employees
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE employees (
	id INTEGER,
	name TEXT NOT NULL,
	department TEXT,
	salary REAL,
	PRIMARY KEY (id)
)

/*
3 rows from employees table:
id	name	department	salary
1	Alice	Engineering	75000.0
2	Bob	Sales	60000.0
3	Charlie	Engineering	80000.0
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_jMmQnFB5Mo1jt8Yhq2d2I310)
 Call ID: call_jMmQnFB5Mo1jt8Yhq2d2I310
  Args:
    query: SELECT department, AVG(salary) AS average_salary FROM employees GROUP BY department ORDER BY average_salary DESC LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT department, AVG(salary) AS average_salary FROM employees GROUP BY department ORDER BY average_salary DESC LIMIT 1;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_kV72XGDx1gReVRJY7iF8uNHf)
 Call ID: call_kV72XGDx1gReVRJY7iF8uNHf
  Args:
    query: SELECT department, AVG(salary) AS average_salary FROM employees GROUP BY department ORDER BY average_salary DESC LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query

[('IT', 96666.66666666667)]
================================== Ai Message ==================================

The department with the highest average salary is IT, with an average salary of approximately $96,667.

In [26]:
example_query = "List all employees in the Finance department, ordered by salary."

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

List all employees in the Finance department, ordered by salary.
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_AlZjmYN4AsYIiy6VLHIzEoQN)
 Call ID: call_AlZjmYN4AsYIiy6VLHIzEoQN
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

departments, employees
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_F33K66AbThVSovgFHwYa3WHq)
 Call ID: call_F33K66AbThVSovgFHwYa3WHq
  Args:
    table_names: departments
  sql_db_schema (call_PhYEviG1m4wodH4JYg0xPUvZ)
 Call ID: call_PhYEviG1m4wodH4JYg0xPUvZ
  Args:
    table_names: employees
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE employees (
	id INTEGER,
	name TEXT NOT NULL,
	department TEXT,
	salary REAL,
	PRIMARY KEY (id)
)

/*
3 rows from employees table:
id	name	department	salary
1	Alice	Engineering	75000.0
2	Bob	Sales	60000.0
3	Charlie	Engineering	80000.0
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_ppu77pFtzAdCzJQ1WyFey0C7)
 Call ID: call_ppu77pFtzAdCzJQ1WyFey0C7
  Args:
    query: SELECT name, salary FROM employees WHERE department = 'Finance' ORDER BY salary;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT name, salary FROM employees WHERE department = 'Finance' ORDER BY salary;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_ggF1fbdfmR2iapeQdougPw5t)
 Call ID: call_ggF1fbdfmR2iapeQdougPw5t
  Args:
    query: SELECT name, salary FROM employees WHERE department = 'Finance' ORDER BY salary;
================================= Tool Message =================================
Name: sql_db_query

[('Sam', 89000.0), ('Sam', 89000.0), ('Ivy', 90000.0), ('Ivy', 90000.0), ('Jack', 91000.0), ('Jack', 91000.0), ('Vince', 94000.0), ('Vince', 94000.0)]
================================== Ai Message ==================================

The following employees are in the Finance department, ordered by salary:

1. Sam - $89,000
2. Ivy - $90,000
3. Jack - $91,000
4. Vince - $94,000

(Note: Some names may appear multiple times in the results, indicating possible duplicates in the data.)